.accordion-item {
    background-color: #31343d;
}

.accordion-item header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    font-weight: bold;
}

.accordion-item summary {
    padding: 8px;
    padding-left: 25px;
    padding-right: 0px;
}