.chat.page {
	height: 100%;
}

.chat.page > .content {
	height: calc(100% - 2em - 2px);
	display: grid;
	grid-template-rows: 1fr auto auto;
}

.chat.page > .content > footer {
	padding: 16px 18px;
	display: grid;
	grid-template-columns: 1fr auto;
}

.chat.page > .content > footer .messageInput {
	all: unset;
	line-height: normal;
	width: 100%;
	background-color: #3e414a;
	box-sizing: border-box;
	border: 1px solid #25282e;
	border-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	font-weight: normal;
	transition-duration: 150ms;
	padding-right: 0px;
	padding: 4px 12px;
}

.chat.page > .content > footer .messageInput:focus {
	border-color: #40ffa0;
	resize: vertical;
}

.chat.page > .content > .messages {
}

.chat.page > .content > .messages :last-child {
	border-bottom: none;
}

.chat.page .sendMessage {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	line-height: normal;
}