.page {
    color: white;
}

.page > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    max-height: 2em;
    min-height: 2em;
    color: white;
    padding: 0px 24px;
}