.page.game > .content > header > .btn-group > .category-button-parent {
    text-decoration: none;
}

.page.game > .content > header {
    margin: 36px;
}

.page.game .category-button-parent.active > .btn {
	color: #5cfcac;
}