.btn-group {
    display: flex;
    width: fit-content;
    align-items: center;
    box-shadow: 0px 5px 16.02px 1.98px rgba(0, 0, 0, 0.49);
    overflow: hidden;
    border-radius: 5px;
    text-decoration: none;
    overflow-x: auto;
}

.btn-group > a {
    text-decoration: none;
}

.btn-group .btn {
    height: 100%;
    box-shadow: none;
    border-radius: 0px;
    border-right: 2px solid #2a2c34;
}

.btn-group > .btn:last-child {
    border-right: none;
}