.texted-icon {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 28px;
    height: 32px;
}

.texted-icon p {
    font-size: inherit;
    margin-left: 12px;
}

.texted-icon svg {
    width: auto;
    height: inherit;
}