#app {
	height: 100%;
}

#home {
    display: grid;
    height: 100%;
    grid-template-columns: 90px 340px 1fr;
    --server-icon-space: 16px;
}

#serverNavigation {
    padding: 8px 8px;
    overflow-y: auto;
    direction: rtl;
}

#serverNavigation > .server-icon {
    margin-bottom: var(--server-icon-space);
}

#serverNavigation > a.server-icon-parent > div.server-icon {
    margin-bottom: calc(var(--server-icon-space) - 5px) !important;
}
