.texted-icon {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    font-weight: normal;
    font-size: 28px;
    height: 32px;
}

.texted-icon p {
    font-size: inherit;
    margin-left: 8%;
}

.texted-icon svg {
    width: auto;
    height: inherit;
}