.page.add-game .content header,
.page.add-game .content footer {
	padding: 16px 32px;
}

.page.add-game .content h2 {
	padding-bottom: 12px;
	font-size: 1.25em;
	font-weight: normal;
}

.page.add-game .content footer {
	display: flex;
	justify-content: flex-end;
}

.page.add-game .content .ruleset-feild {
	padding: 16px 32px;
	border-bottom: 2px solid #25282e;
}

.page.add-game .content .ruleset-feild:nth-of-type(1) {
	border-top: 2px solid #25282e;
}

.page.add-game .content .ruleset-feild footer {
	padding: initial;
}

.page.add-game .content .feild {
	margin: 0 0 16px 0px;
}

.page.add-game .content .split {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 32px;
}

.page.add-game .content .search footer {
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
	gap: 16px;
}

.page.add-game .content .column-feild {
	padding: 8px 0px;
	padding-left: 4%;
	display: grid;
	grid-template-columns: auto 1fr;
}

label.column-type {
	display: block;
	width: 100%;
}

input.column-name {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

select.column-type {
	color: white;
	background-color: #3e414a;
	border: 1px solid #25282e;
	padding: 4px 6px;
	font-size: 22px;
	border-radius: 0px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	box-sizing: border-box;
	margin-top: 6px;
}

select.column-type:focus {
	outline: none;
	border-color: #5cfcac;
}