.game.card {
    height: 100%;
}

.game.card .image {
    aspect-ratio: 2/3;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.game.card .title {
    display: block !important;
    line-height: normal;
    padding: 5% 0%;
    text-align: center;
    max-height: 65px;
}