* {
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    line-height: 0.9em;
}

body, h1, h2, h3, h4, h5, h6, hr, p {
  margin: 0;
  font-size: 24px;
}

body, html {
    background-color: #343740;
}

hr {
    background-color: #25282e;
    border-color: #25282e;
    color: #25282e;
    border-style: solid;
}
