.add.card {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #5cfcac;
	cursor: pointer;
	height: min-content;
}

.add.card>svg {
	--size: 2em;
	width: var(--size);
	height: var(--size);
}